{% extends "../../layout.html" %}
{% block content %}
<div id="Main">
    <div id="Content">
        <div class="box">
            <div class="cell">
                <a href="/">{{ ctx.website.nickname }}</a> <span class="chevron">&nbsp;›&nbsp;</span>
                <a href="/user/center">{{t!(self.ctx, "user.t.settings_crumb")}}</a>
                &rsaquo; {{t!(self.ctx, "user.t.verify_email_crumb")}}
            </div>
            <div class="inner">
                {% if !tips.is_empty() %}
                <div class="problem">{{ tips }}</div>
                {% endif %}
                <div class="message info" style="margin-bottom: 20px; margin-left: 140px; max-width: 400px;">
                    {{t!(self.ctx, "user.t.verify_email_sent_msg", email=self.email)}}
                </div>
                <form action="/user/email/verify" method="POST" class="form">
                    <input type="hidden" name="email" value="{{ email }}">
                    <div class="form-row">
                        <label for="code">{{t!(self.ctx, "user.t.verification_code_label")}}</label>
                        <input type="text" id="code" name="code" required>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="super normal button">{{t!(self.ctx,
                            "user.t.confirm_change_button")}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="Sidebar">
        {% include "sidebar.html" %}
    </div>
</div>
{% endblock %}