{% extends "../layout.html" %}

{% block content %}
{% if let Some(html) = node.attr("custom_html") %}{{html|safe}}{% endif %}
<div id="Main">
    <div id="Content">
        <!-- node header -->
        <div class="box node-header">
            <div class="node-avatar">
                {% if let Some(icon) = node.attr("icon_image") %}
                <img src="{{icon}}" />
                {% else %}
                <img src="/public/NodeCask.png" />
                {% endif %}
            </div>
            <div class="node-info">
                <div class="title-bar">
                    <h1>{{ node.name }}</h1>
                    <div class="node-stats">
                        <span>{{t!(self.ctx, "node.t.topic_count")}} {{ node.topic_count }}</span>
                    </div>
                </div>
                {% if !node.description.is_empty() %}
                <div class="description">
                    {{ node.description }}
                </div>
                {% endif %}
            </div>
            <div class="node-actions">
                <a href="/go/{{ node.slug }}/rss.xml" class="button normal">{{t!(self.ctx, "node.t.subscribe")}}</a>
                {% if !node.access_only %}
                &nbsp; <a href="/go/{{ node.slug }}/new" class="button normal">{{t!(self.ctx,
                "node.t.create_topic")}}</a>
                {% endif %}
            </div>
        </div>
        <div class="sep10"></div>
        <!-- end node header -->
        <div class="box">

            {% if articles.data.is_empty() %}
            <div class="inner">
                <span class="fade">{{t!(self.ctx, "node.t.no_topics")}}</span>
            </div>
            {% else %}
            <ul class="topics">
                {% for article in articles.data %}
                <li class="{% if article.is_pinned %}pinned{% endif %}">
                    <div class="item-avatar">
                        <a href="/u/{{ article.username }}"><img
                                src="/u/{{ article.username }}/avatar.png?t={{ article.avatar_timestamp }}"
                                class="avatar"></a>
                    </div>
                    <div class="item-content">
                        <div class="item-title">
                            {% if article.is_pinned %}<span class="badge-pinned">{{t!(self.ctx,
                                "node.t.pinned")}}</span>{% endif %}
                            <a href="/t/{{ article.id }}">{{ article.title }}</a>
                        </div>
                        <div class="item-meta">
                            <a href="/u/{{ article.username }}" class="author"><strong>{{ article.username
                                    }}</strong></a>
                            {% if article.reply_count > 0 %}
                            &nbsp;•&nbsp; {{ctx.t_ago(article.updated_at) }}
                            {% if let Some(last_reply_by) = &article.last_reply_by %}
                            &nbsp;•&nbsp; {{t!(self.ctx, "node.t.last_reply_from")}} <a
                                href="/u/{{ last_reply_by }}"><strong>{{ last_reply_by
                                    }}</strong></a>
                            {% endif %}
                            {% else %}
                            &nbsp;•&nbsp; {{ctx.t_ago(article.created_at) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="item-count">
                        {% if article.reply_count > 0 %}
                        <a href="/t/{{ article.id }}" class="count-livid">{{ article.reply_count }}</a>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if articles.total_page > 1 %}
            <div class="cell">
                <!-- render pagination directly -->
                {{ articles.render()|safe }}
            </div>
            {% endif %}
        </div>
    </div>
    <div id="Sidebar">
        {% include "../modules/sidebar.html" %}
    </div>
</div>
{% endblock %}