{% extends "../layout.html" %} {% block content %}
<div id="Main">
    <div id="Content" class="full-width auth-page">
        <div class="box auth-box">
            <div class="cell" style="text-align: center; font-weight: bold">
                {{t!(self.ctx, "auth.t.reset_password")}}
            </div>
            <div class="inner">
                <form action="/forgot-password" method="POST" class="form">
                    <input type="hidden" name="token" value="{{token}}" />
                    <div class="form-row">
                        <label for="email"
                            >{{t!(self.ctx, "auth.t.email_address")}}</label
                        >
                        <input
                            type="email"
                            id="email"
                            autocomplete="off"
                            value="{{ email }}"
                            name="email"
                            required
                        />
                    </div>
                    {% if let Some(turnstile) = turnstile %}
                    <div class="form-row">
                        <label></label>
                        {% include "../../common/turnstile.html" %}
                    </div>
                    {% endif %}
                    {% if !tips.is_empty() %}
                    <div class="problem">{{ tips }}</div>
                    {% endif %}
                    <div class="form-actions" style="">
                        <button type="submit" class="button primary">
                            {{t!(self.ctx, "auth.t.send_reset_link")}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
