{% extends "../layout.html" %}
{% block content %}{% let topic = &topic %}
<div id="Main">
    <div id="Content">
        <div class="box">
            <div class="cell">
                <a href="/">{{ ctx.website.nickname }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a
                    href="/t/{{ topic.id }}">{{ topic.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{t!(self.ctx, "topic.t.delete_topic")}}
            </div>
            <div class="inner">
                <div class="msg">
                    {{t!(self.ctx, "topic.t.confirm_delete_topic_msg", title=topic.title)}}
                    <div class="sep10"></div>
                    <span class="bad">{{t!(self.ctx, "topic.t.delete_warning")}}</span>
                </div>

                <div class="sep20"></div>

                <form action="/t/{{ topic.id }}/delete" method="POST">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="form-actions">
                        <button type="submit" class="button super danger">{{t!(self.ctx, "topic.t.confirm_delete")}}</button>
                        &nbsp; <a href="/t/{{ topic.id }}" class="button gray">{{t!(self.ctx, "topic.t.cancel")}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="Sidebar">
        {% include "../modules/sidebar.html" %}
    </div>
</div>
{% endblock %}