{% extends "../layout.html" %}
{% block content %}
<div id="Main">
    <div id="Content">
        <div class="box">
            <div class="cell">
                <a href="/">{{ ctx.website.nickname }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a
                    href="/t/{{ topic.id }}">{{ topic.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{t!(self.ctx, "topic.t.edit_topic")}}
            </div>
            <div class="inner">
                <form action="/t/{{ topic.id }}/edit" method="POST" class="form form-topic">
                    <input type="hidden" name="token" value="{{ token }}">

                    <div class="form-row">
                        <label for="title">{{t!(self.ctx, "topic.t.title")}}</label>
                        <input type="text" id="title" name="title" value="{{ topic.title }}" required
                            placeholder='{{t!(self.ctx, "topic.t.enter_title_placeholder")}}' class="input-text">
                    </div>

                    <div class="form-row">
                        <label for="topic-content">{{t!(self.ctx, "topic.t.content")}}</label>
                        <textarea id="topic-content" name="content" rows="20" required placeholder="{{t!(self.ctx, "topic.t.enter_content_placeholder")}}"
                            class="input-text">{{ topic.content }}</textarea>
                    </div>
                    {% for s in tips %}
                    <div class="problem">{{ s }}</div>
                    {% endfor %}

                    <div class="form-actions">
                        <button type="submit" class="button primary">{{t!(self.ctx, "topic.t.save_update")}}</button>
                        <a href="/t/{{ topic.id }}" class="button gray">{{t!(self.ctx, "topic.t.cancel")}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="Sidebar">
        {% include "../modules/sidebar.html" %}
    </div>
</div>
{% endblock %}